.product_list{
  flex: 4;
}
.productList_item{
  display: flex;
  align-items: center;
}
.productList_img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 7px;
}
.productList_edit{
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: #ffffff;
  cursor: pointer;
  margin-right: 15px;
}
.productList_delete{
  color: red;
  cursor: pointer;
}