.sidebar{
  flex: 1;
  height: calc(100vh - 70px);
  background-color: rgba(242, 242, 247, 0.411);
  position: sticky;
  top: 50px;
}
.sidebar_wrapper{
  padding: 20px;
  color: #555;
}
.sidebar_menu{
  margin-bottom: 10px;
}
.sidebar_title{
  font-size: 18px;
  color: rgb(37, 36, 36);
}
.sidebar_list{
  font-size: 15px;
  list-style: none;
  padding: 5px;
}
.sidebarListItem{
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.sidebarListItem.active, .sidebarListItem:hover{
  background-color: rgba(216, 216, 231, 0.548);
}
.sidebarIcon{
  margin-right: 7px;
  font-size: 20px !important;
}